node_modules/
frontend/node_modules/
frontend/dist/
data/
data/*
!.gitkeep
*.log
*.env
.env.local
/.idea
.vscode
*.exe
*.wt
__pycache__/
.DS_Store# Binaries 
go-services/bin/ 
 
# Data volumes 
data/apks/* 
data/mongo/* 
data/chroma/* 
!data/apks/.gitkeep 
!data/mongo/.gitkeep 
!data/chroma/.gitkeep 
 
# Environment variables 
.env 
 
# Python 
__pycache__/ 
*.pyc 
